// Specify
@font-face
	font-family: 'Specify'
	src: url('../fonts/specify.ttf') format('truetype') // Can also work on more than one format

// open-sans
@font-face
	font-family 'open-sans'
	src url('../fonts/opensans.ttf') format('truetype')

@font-face
	font-family 'open-sans'
	src url('../fonts/opensans-bold.ttf') format('truetype')
	font-weight bold

@font-face
	font-family 'open-sans'
	src url('../fonts/opensans-bolditalic.ttf') format('truetype')
	font-weight bold
	font-style italic

@font-face
	font-family 'open-sans'
	src url('../fonts/opensans-italic.ttf') format('truetype')
	font-style italic
