<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/css/grid.css">
		<link rel='stylesheet' type='text/css' href='/css/styles.css'/>
		<title>Error 404</title>
	</head>
	<body>
		<div class='col-sm-2'></div>
		<div 	class='col-sm-7'>
			<h2 id='title'>Error 404</h2>
			<hr/>
			<p>Welp, that didn't go as planned. The link you are looking for has either been moved, deleted, or never existed in the first place. Click <a href='/'>here</a> to return to the landing page. <br/><i>But hey, who needs bad links when you have bad jokes, amirite?</i></p>
			<p id='content'><%= pun %></p>
			<p>Have a good pun and want it in here? Shoot a tweet over at my <a href="https://www.twitter.com/TaizWeb">Twitter</a> and I'll add it in (with credit).</p>
		</div>
		<div class='col-sm-3'></div>
	</body>
</html>
