<!doctype html>
<html ng-app="BlogApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/styles.css"/>
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
		<script type="text/javascript" src='/js/scripts.js'></script>
	</head>
	<body ng-controller="EditViewController">
		<h1>Edit a Post</h1>
		<hr/><!-- POSTS CANNOT BE NAMED THE SAME THING -->
		<% for(var i = 0; i < postsArray.length; i++){ %>
			<form action='/blog/edit_handler' method='POST'>
				<input style='visibility:hidden;' name="post_name" value="<%= postsArray[i].title %>"/>
				<div>
					<div class='edit_preview'>
						<h2 class='edit_title'><%= postsArray[i].title.replace(/&#96;/g,"\`").replace(/&quot;/g,"\"").replace(/&apos;/g,"\'"); %></h2>
						<p class='edit_body'><%= postsArray[i].body.replace(/&#96;/g,"\`").replace(/&quot;/g,"\"").replace(/&apos;/g,"\'") %></p>
						<p><span class='edit_date'>Posted: <%= `${postsArray[i].date.toString().split(" ")[1]} ${postsArray[i].date.toString().split(" ")[2]}, ${postsArray[i].date.toString().split(" ")[3]}` %></span></p>
					</div>
					<div class='edit_wrapper'>
						<ul class='edit_gui'>
							<li><input id='edit' type="submit" name="submit" value='Edit'></li>
							<li><input id='view' type='submit' name='submit' value='View'></li>
							<li><input id='stats' type='submit' name='submit' value='Stats'></li>
							<li><input id='private' type='submit' name='submit' value='Private'></li>
							<li><input id='remove' type='submit' name='submit' value='Remove'></li>
						</ul>
					</div>
				</div>
			</form>
		<% } %>
		<div class='footer'>
		</div>
	</body>
</html>