<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel='stylesheet' type='text/css' href='/css/styles.css'/>
		<script type='text/javascript' src='/lib/marked.js'></script>
		<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js'></script>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.min.js'></script>
		<title><%= title.replace(/&#96;/g,"\`").replace(/&quot;/g,"\"").replace(/&apos;/g,"\'"); %></title>
	</head>
	<body>
		<div id='container'>
			<div id='post-body'>
				<h1 id='title'><%= title.replace(/&#96;/g,"\`").replace(/&quot;/g,"\"").replace(/&apos;/g,"\'"); %></h1>
				<%
					var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
				%>
				<p id='date'>Posted: <%= `${months[parseInt(date.split("T")[0].split("-")[1])-1]} ${date.split("T")[0].split("-")[2]}, ${date.split("T")[0].split("-")[0]}` %></p>
				<hr/>
				<p id='content'></p>
				<script type="text/javascript">
					document.getElementById('content').innerHTML = marked(`<%= body.replace(/&#96;/g, "\`").replace(/&quot;/g, "\"").replace(/&apos;/g, "\'"); %>`);
				</script>
				<!-- Add back in when it's done -->
				<!--<form action='/blog/subscribe' method='POST'>
					<p id='subscribe'>
						<i>Liked it? Want email notifications so you never miss a post? Simply enter your email into this box and follow the sent instructions to receive an email whenever I make a new post!</i>
					</p>
					<label for='email'><b>Email:</b></label> <input type="text" name="email"/><input type='submit' value='Submit'/>
				</form>-->
			</div>
			<div id='post-tags'>
			</div>
		</div>
	</body>
</html>
