<!doctype html>
<html>
	<head>
		<title>RESTRICTED AREA</title>
	</head>
	<body>
		<h1>RESTRICTED AREA</h1>
		<!-- Looking for a way in, are we? -->
		<form action='/<%= target %>' method='POST'>
			<input name='username' type='text'/>
			<br/>
			<br/>
			<input name='password' type='password'/>
			<br/>
			<br/>
			<input name='submit' type='submit' value='Submit'/>
		</form>
	</body>
</html>
