<!DOCTYPE html>
<html>
	<head>
		<title>Thanks for Subscribing!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<p>A confirmation email has been sent to <b><%= email %></b>, please check your email for further instructions!</p>
	</body>
</html>